.input-color-container {
  position: relative;
  overflow: hidden;
  width: 14em;
  height: 16em;
  border: solid 0.01em #ddd;
  border-radius: 40% 20%;
}

.input-color {
  position: absolute;
  right: -100px;
  top: -10px;
  width: 156em;
  height: 156em;
  border: solid;
}

.input-color-label {
  cursor: pointer;
  text-decoration: underline;
  color: #3498db;
}