html {
	font-family: sans-serif;
	background-color: #594230;
}

body {
	margin: 2em;
}

.chat-wrapper {
	display: grid;
	grid-template-rows: min-content auto min-content;
	height: calc(100vh - 4em);
	background-color: #eeeeee;
	box-shadow: 0 0 2em rgba(0,0,0, 0.5);
}

.actions-bar {
	padding: 1em;
}

.actions-bar .button {
  	float: right;
  	margin: .21em;
}

.input-bar {
	display: grid;
	grid-template-columns: max-content min-content auto max-content;
	grid-column-gap: .5em;
	padding: 1em;
}

/*.input-bar * {
	margin: 0.2em 0.2em 0.2em 0.2em;
}*/

.input-bar .color-input {
	width: 9em;
	height: 2.1em;
}

.input-color-container {
  position: relative;
  overflow: hidden;
  width: 4em;
  height: 2em;
  border: solid 0.01em #ddd;
  border-radius: 80%;
}

.input-color {
  	position: absolute;
  	right: -100px;
  	top: -10px;
  	width: 156em;
  	height: 156em;
  	border: solid;
}

.input-color-label {
	position: right;
  	cursor: pointer;
  	text-decoration: underline;
  	color: #3498db;
}


.input-bar input {

}

.chat-log {
	background-color: white;
	border: 1pt solid: #ccc;
	overflow-y: scroll;
	/*display: inline-block;*/
	/*white-space:nowrap;*/
}

.chat-log .message {
	margin: 0;
	padding: 0.4em;
	color: green;

}

.chat-log .message:nth-child(2n) {
	background-color: rgba(0,0,0,0.05);

} 	

.chat-log .message .timestamp {
	color: #999;
	margin-right: 1em;
	float:left;
	/*display: inline-block;*/

}

.chat-log .message .author-name {
	font-weight: bold;
}

.chat-log .message .verb {
	font-style: bold;
	font-size: 0.8em;
	opacity: 0.5;

}

.chat-log .message .content {
	font-family: serif;
	display: inline;

}
